<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="ANN Election Data" />
    <meta name="twitter:description" content="Battleground state changes, updated every five minutes using NYT data." />
    <meta name="twitter:url" content="https://alex.github.io/nyt-2020-election-scraper/battleground-state-changes.html" />
    <meta property="og:title" content="ANN Election Data" />
    <meta property="og:description" content="Battleground state changes, updated every five minutes using NYT data." />
    <meta property="og:image" content="https://avatars3.githubusercontent.com/u/772?s=400&u=7c00c7c8ac3691da556d7686e16ff08b797d4a38&v=4" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🗳️</text></svg>">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
    .table td, .table th {
        padding: .25rem .5rem;
    }

    thead td {
      background-color: #e9ecef;
      line-height: 1.2rem;
    }

    thead .text-left {
        font-weight: normal;
    }

    thead span.statename {
        font-weight: bold;
        /* If changing these, update "thead tr:nth-child(2) th" too */
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

    thead tr:nth-child(1) td {
        position: sticky;
        top: -1px;
        border-bottom: none;
    }

    thead tr:nth-child(2) th {
        position: sticky;
        /* Padding, first line, second line, padding */
        top: calc(.25rem + 1.2rem + 1.2rem + .25rem);
        border-right: none;
        border-left: none;
        border-top: none;
    }

    .has-tip {
        text-decoration: underline;
        text-decoration-style: dotted;
    }

    .flag-bg {
        background-position: fixed;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: 100%;
    }

    .Biden{
        background-color: #84C4EE
    }
    .Trump{
        background-color: #ED98A9;
    }

    @media (prefers-color-scheme: dark) {
        body {
            color: #ffffff;
            background-color: #202020;
        }
        .table {
            color: #dedad6;
            background-color: #202020;
        }
        .table .thead-light th, .table .thead-light td {
            background-color: #495057;
            color: #e9ecef;
        }
        .table .thead-light th, .table td {
            border-color: #211d19;
        }
        .Biden {
            background-color: #05456F;
        }
        .Trump {
            background-color: #6E192A;
        }
    }
    </style>
    <title>Election 2020 Results</title>

    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"
            integrity="sha384-cuApTuVdn64P5ZOzyf+qTgNxGwhvW/ZmdAbNMcl7Q3TkMKJ7/bERQ1cFDmZy7QvZ"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/plugin/utc.js"
            integrity="sha384-r1JLNIu5SkAfQejSOJPjndnEZkxex5ChJOTaiQeN91L012sA1pyw0A/543Xq97wb"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/plugin/relativeTime.js"
            integrity="sha384-ojZWhTxW4vjtUz9IjuxEgcPAQQkFj7jlcOnGFp8IyTUTQpFisDT5u8zFh2d0GrSM"
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        dayjs.extend(dayjs_plugin_relativeTime)
        dayjs.extend(dayjs_plugin_utc)

        const prettyTime = timestamp => dayjs.utc(timestamp.replace(" UTC", ""), 'YYYY-MM-DD HH:MM:SS').fromNow()

        const handleNode = node => {
            if (node.classList && node.classList.contains('timestamp')) {
                let timestamp;
                if (node.hasAttribute('data-timestamp')) {
                    timestamp = node.getAttribute('data-timestamp');
                } else {
                    timestamp = node.innerHTML;
                    node.setAttribute('data-timestamp', timestamp);
                }
                node.innerHTML = `<abbr class='pretty-timestamp' title='${timestamp}'>${prettyTime(timestamp)}</abbr>`;
            }
        };

        new MutationObserver(mutations => {
            for (let i = 0, len = mutations.length; i < len; i++) {
                let added = mutations[i].addedNodes;
                for (let j = 0, node; (node = added[j]); j++) {
                    if (node.tagName === 'td' || node.tagName === 'span') {
                        handleNode(node);
                    } else if (node.firstElementChild) {
                        for (const child of node.querySelectorAll('td,span')) {
                            handleNode(child);
                        }
                    }
                }
            }
        }).observe(document, {
            childList: true,
            subtree: true,
        });

        setInterval(() => {
            $(".pretty-timestamp").map((_, tselem) => {
                tselem.innerText = prettyTime(tselem.title);
            });
        }, 60 * 1000);
    </script>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <p style="font-size: 1.4rem;">
                All data below is sourced from an unofficial API powering the New York Times’ election site.
                <strong>The estimated votes remaining values might be off</strong>.
                Consult state websites and officials for the most accurate and up-to-date figures.
                This website is <a href="https://github.com/alex/nyt-2020-election-scraper">open source</a> and was written by <a href="https://github.com/alex/nyt-2020-election-scraper/graphs/contributors">these people</a>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p class="float-left" id="timestamps">Last scrape: <span class="timestamp">{% SCRAPE_TIME %}</span> | Last batch: <span class="timestamp">{% BATCH_TIME %}</span></p>
            <div id="template-hash" style="display: none;">{% TEMPLATE_HASH %}</div>
        </div>
        <div class="col-sm">
            <p class="float-right">
            <button type='button' id='live_update_button' class='btn btn-secondary'>Enable Live Updates</button>
            <button type='button' id='shrink_button' class='btn btn-secondary'>Shrink Tables</button>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            {% TABLES %}
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        const features = {};
        const isFeatureEnabled = key => localStorage.getItem(key) === 'true';

        const feature = (key, buttonId, onEnable, onDisable) => {
            const button = $(buttonId);
            button.on('click', function() {
                if (isFeatureEnabled(key)) {
                    localStorage.removeItem(key);
                    onDisable(button);
                } else {
                    localStorage.setItem(key, 'true');
                    onEnable(button);
                }
            });

            if (isFeatureEnabled(key)) {
                onEnable(button);
            }

            features[key] = {
                buttonId,
                onEnable,
                onDisable
            };
        };

        const refreshFeature = key => {
            if (isFeatureEnabled(key)) {
                features[key].onEnable($(features[key].buttonId));
            } else {
                features[key].onDisable($(features[key].buttonId));
            }
        };
    </script>

    <script type="text/javascript">
        const loadTooltips = () => {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        };
        loadTooltips();

        const shrinkTablesFeature = 'shrunk';
        feature(shrinkTablesFeature, '#shrink_button', button => {
            button.html('Expand Tables');
            $('.table').each(function(){
                var countOfNonHiddenBlock = 0;
                var lastCount = -1;
                $(this).find('tbody tr').each(function() {
                    var value = parseInt(($(this).find('td:nth(4)').text()));
                    if (countOfNonHiddenBlock >= 3 || (value === 0 && lastCount === 0)) {
                        $(this).hide();
                    } else {
                        countOfNonHiddenBlock++;
                    }
                    lastCount = value;
                });
            });
        }, button => {
            button.html('Shrink Tables');
            $('.table').each(function() { $(this).find('tbody tr').show(); });
        });
    </script>

    <script type="text/javascript">
        const fetchLatestCommit = async () => {
            const response = await fetch("https://api.github.com/repos/alex/nyt-2020-election-scraper/commits?per_page=10", {
                cache: 'no-cache',
                headers: {
                    accept: 'application/vnd.github.v3+json',
                },
            });
            const body = await response.json();
            for (var i = 0; i < body.length; i++) {
                if (body[i]['commit']['author']['email'] === 'actions@users.noreply.github.com' &&
                    body[i]['commit']['message'] === 'Regenerate battleground-state-changes.txt/html') {
                    return body[i];
                }
            }
            return body[0]; // oh well, default to latest
        };

        const fetchLatestContent = async (sha) => {
            const contentResponse = await fetch(`https://raw.githubusercontent.com/alex/nyt-2020-election-scraper/${sha}/battleground-state-changes.html`, {
                cache: 'no-cache',
            });
            const contentBody = await contentResponse.text();
            const contentDom = new DOMParser().parseFromString(contentBody, 'text/html');

            const updatesResponse = await fetch(`https://raw.githubusercontent.com/alex/nyt-2020-election-scraper/${sha}/notification-updates.json`, {
                cache: 'no-cache',
            });
            const updatesBody = await updatesResponse.json();
            return {
                updates: updatesBody,
                dom: contentDom,
            };
        };

        const isDeveloperEnvironment = () => {
            return location.protocol === 'file:' || location.hostname === 'localhost' || location.hostname === '127.0.0.1';
        };

        const updateCheck = async (currentCommit, currentContent) => {
            let latestCommit = await fetchLatestCommit();
            console.log("latest commit", latestCommit);

            if (currentCommit['sha'] !== latestCommit['sha']) {
                console.log("updating to", latestCommit);
                let latestContent = await fetchLatestContent(latestCommit['sha']);

                console.log("latest content", latestContent.updates);
                if (currentContent &&
                    currentContent.updates.results_hash !== latestContent.updates.results_hash &&
                    latestContent.updates.states_updated.length
                ) {
                    if (Notification.permission === "granted") {
                        new Notification(`New ballots were counted in: ${latestContent.updates.states_updated.join(", ")}!`);
                    }
                }

                let newHash = latestContent.dom.getElementById("template-hash")?.innerText;
                let currentHash = document.getElementById("template-hash").innerText;

                if (newHash && newHash !== currentHash && !isDeveloperEnvironment()) {
                    location.reload(true);
                } else {
                    $('[data-toggle="tooltip"]').tooltip('hide')

                    const elementsToUpdate = [
                        ...Array.from(document.getElementsByTagName("table")),
                        document.getElementById("timestamps"),
                    ];

                    elementsToUpdate.forEach(oldElement => {
                        let newElement = latestContent.dom.getElementById(oldElement.id);
                        oldElement.parentNode.replaceChild(newElement, oldElement);
                    });

                    loadTooltips();
                    refreshFeature(shrinkTablesFeature);
                }

                return {commit: latestCommit, content: latestContent};
            }

            return {commit: latestCommit, content: currentContent};
        };

        // do an initial update
        if (!isDeveloperEnvironment()) {
            updateCheck({}, undefined);
        }

        const startLiveUpdates = async () => {
            let currentCommit = await fetchLatestCommit();
            console.log("current commit", currentCommit);
            let currentContent = await fetchLatestContent(currentCommit['sha']);
            console.log("current content", currentContent.updates);

            const nextCheck = () => {
                const ONE_MINUTE = 1 * 60 * 1000;
                const FIVE_MINUTES = 5 * ONE_MINUTE;
                const now = new Date();
                const lastUpdate = new Date(currentCommit.commit.author.date);
                // check at most every minute
                return Math.max(ONE_MINUTE, FIVE_MINUTES - (now - lastUpdate));
            };

            const runner = async () => {
                if (!isFeatureEnabled(liveUpdatesFeature)) return;

                const results = await updateCheck(currentCommit, currentContent);
                currentCommit = results.commit;
                currentContent = results.content;
                console.log("new current commit", currentCommit);
                console.log("new current content", currentContent);
                setTimeout(runner, nextCheck());
            };

            setTimeout(runner, nextCheck());
        };

        const liveUpdatesFeature = 'live-updates';
        feature(liveUpdatesFeature, '#live_update_button', button => {
            button.html('Disable Live Updates');

            if ('Notification' in window && Notification.permission !== 'granted') {
                Notification.requestPermission();
            }

            startLiveUpdates();
        }, button => {
            button.html('Enable Live Updates');
        });
    </script>
</body>
